{% if first.username==session.username %}
{{first.topic}} <a href="/edit_topic/{{ first.id}}">Muokkaa otsikkoa</a> | <a href="/remove_chain/{{first.id}}">Poista ketju</a> <br>
<hr>
Aloitusviesti: {{first.content}} <br>
Lähettäjä: {{first.username}}<br>
Aika: {{first.created_at}} <br>
<a href="/edit_message/{{first.id}}">Muokkaa viestiä</a>
{% else %}
{{first.topic}}<br>
<hr>
Aloitusviesti: {{first.content}}<br>
Lähettäjä: {{first.username}}<br>
Aika: {{first.created_at}} <br>
{% endif %}
<hr>
{% for message in messages %}
Viesti: {{ message.content}}<br>
Lähettäjä: {{message.username}}<br>
Aika: {{message.created_at}}<br>
{% if message.username==session.username %}
<p><form action="/edit_answer" method="POST">
	<input type="hidden" name="chain_id" value="{{first.id}}">
	<input type="hidden" name="message_id" value="{{message.m_id}}">
	<input type="submit" value="Muokkaa">  
</form></p>
<form action="/remove_answer" method="POST">
	<input type="hidden" name="chain_id" value="{{first.id}}">
	<input type="hidden" name="message_id" value="{{message.m_id}}">
	<input type="submit" value="Poista viesti">
</form>
{% endif %}
<hr>
{% endfor %}
<a href="/answer/{{first.id}}">Vastaa ketjuun</a> | <a href="/list">Palaa etusivulle</a>
