<hr>
<a href="/logout">Kirjaudu ulos</a>
<hr>

{% for chain in chains%}
{% if session.username==chain.username %}
Aloittanut: {{chain.username}} <br>
Luotu: {{chain.created_at}} <br>
Otsikko: {{chain.topic}} <br>
<a href="/chain/{{chain.id}}"> Näytä ketju</a> | <a href="/remove_chain/{{chain.id}}">Poista ketju</a> <br>
<hr>
{% else %}
Aloittanut: {{chain.username}} <br>
Luotu: {{chain.created_at}} <br>
Otsikko: {{chain.topic}} <br>
<a href="/chain/{{chain.id}}"> Näytä ketju</a> <br>
<hr>
{% endif %}
{% endfor %}

<a href="/new_chain/{{area_id}}">Lisää uusi ketju</a> | <a href="/list">Palaa etusivulle</a>
